@import url(../fonts/Gilroy/stylesheet.css);
@import url(../fonts/Roboto/stylesheet.css);

* {
  box-sizing: border-box;
}

.wrapper {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Gilroy', sans-serif;
}

input, button {
  font-family: 'Gilroy', sans-serif;
}