@use "./variables" as v;

@mixin font($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

.back {
  text-decoration: none;
  @include font(20px, 500, 24px);
  color: #333333;
  &::before {
    content: url(../images/arrow-green.png);
    padding-left: 6px;
    padding-right: 7px;
  }
}

.bin-link {
  @include font(v.$defaultFontSize, v.$defaultFontWeight, v.$defaultLineHeight);
  color: v.$lightGreyColor;
  text-decoration: none;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form {
  padding-top: 50px;
  padding-bottom: 169px;
  background-color: #E5E5E5;
}

fieldset {
  border: none;
}

.bin-content {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
}